.box {
  display: flex;
}

.pane {
  flex: 0 0 25%;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
}

.pane:first-child {
  background: #f1f1f1;
}

.infoPane {
  display: flex;
  flex: 2 1 100%;
  align-items: center;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
}

.infoPaneInner {
  max-width: 45%;
  margin: 0 auto;
}

.infoData {
  display: flex;
}

.infoTerm {
  flex: 0 0 7.5rem;
  font-size: .96em;
  font-weight: bold;
  white-space: pre;
  box-sizing: border-box;
  padding-right: 1em;
  text-align: right;
}

.infoDesc {
  flex: 1 1 100%;
  margin: 0;
}

.headline {
  font-size: .85em;
  margin-left: 1rem;
  margin: 0;
  color: #aaa;
  padding: .4rem .75rem .1rem;
}

.item {
  padding: .1rem 1.5rem;
  cursor: pointer;
}

.item:hover {
  background: #ccc;
}

.itemActive {
  background: #3A8FB7;
  color: #fff;
}

.itemActive:hover {
  background: #3A8FB7;
}
